.general-enter-button {
  width: 60px !important;
  height: 60px !important;
  border-radius: 60px !important;
  background: #000 !important;
  color: #66f6ff !important;
  font-size: 12px !important;
  font-family: Roboto Mono !important;
  font-weight: 700 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 3px !important;
  cursor: pointer !important;
}
